<div class="p-5">
    <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="fullName">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>

        <div class="col-6">
            <label for="therapist" class="form-label">Therapist Name</label>
          <select id="therapist" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>

     
        <div class="col-6">
            <label for="">Appointment Date</label>
            <input type="date" class="form-control">
        </div>
        
        <div class="col-6">
            <label for="">Appointment TIme</label>
            <input type="time" class="form-control">
        </div>
        

        <div class="col-12">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Book an appointment</button>
            </div>
        </div>
      </form>
</div>