<div class="container">
    <h2 class="mb-4">Appointment History</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Therapist</th>
        </tr>
      </thead>
      <tbody>
        <!-- Dummy Data for 10 Rows -->
        <tr>
          <th scope="row">1</th>
          <td>2023-01-01</td>
          <td>10:00 AM</td>
          <td>Dr. Smith</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2023-02-05</td>
          <td>02:30 PM</td>
          <td>Dr. Johnson</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>2023-03-10</td>
          <td>11:15 AM</td>
          <td>Dr. Williams</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>2023-04-15</td>
          <td>03:45 PM</td>
          <td>Dr. Davis</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>2023-05-20</td>
          <td>01:00 PM</td>
          <td>Dr. Taylor</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>2023-06-25</td>
          <td>09:30 AM</td>
          <td>Dr. Brown</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>2023-07-30</td>
          <td>04:15 PM</td>
          <td>Dr. Miller</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>2023-08-05</td>
          <td>12:45 PM</td>
          <td>Dr. Martinez</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>2023-09-10</td>
          <td>10:30 AM</td>
          <td>Dr. Anderson</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>2023-10-15</td>
          <td>02:00 PM</td>
          <td>Dr. White</td>
        </tr>
        <!-- End Dummy Data -->
      </tbody>
    </table>
  </div>