<div class="container px-5">
    <section class="message-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="chat-area">
                <!-- chatlist -->
                <div class="chatlist">
                  <div class="modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="chat-header">
                        <div class="msg-search">
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search" aria-label="search">
                        </div>
                      </div>
      
                      <div class="modal-body mt-2">
                        <!-- chat-list -->
                        <div class="chat-lists">
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="Open" role="tabpanel" aria-labelledby="Open-tab">
                              <!-- chat-list -->
                              <div class="chat-list">
                                <a href="#" class="d-flex align-items-center">
                                  <div class="flex-shrink-0">
                                    <img style="border-radius: 30%;" class="img-fluid" src="assets/images/bhumi.jpeg" height="30" width="30" alt="user img">
                                  </div>
                                  <div class="flex-grow-1 ms-3">
                                    <h3>Bhumika Lama</h3>
                                  </div>
                                </a>
                              </div>
                              <!-- chat-list -->
                            </div>
                          </div>
      
                        </div>
                        <!-- chat-list -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- chatlist -->
      
                <!-- chatbox -->
                <div class="chatbox showbox">
                  <div class="modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="msg-head">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex align-items-center">
                              <span class="chat-icon"><img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/arroleftt.svg" alt="image title"></span>
                              <div class="flex-shrink-0">
                                <img style="border-radius: 30%;" class="img-fluid" src="assets/images/bhumi.jpeg" height="40" width="40" alt="user img">
                              </div>
                              <div class="flex-grow-1 ms-3">
                                <h3>Bhumika Lama</h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="modal-body">
                        <div class="msg-body p-3">
                          <ul>
                            <li class="sender">
                              <p> Hey, Are you there? </p>
                              <span class="time">10:06 am</span>
                            </li>
                            <li class="sender">
                              <p> Hey, Are you there? </p>
                              <span class="time">10:16 am</span>
                            </li>
                            <li class="repaly">
                              <p>yes how can I help you!</p>
                              <span class="time">10:20 am</span>
                            </li>
                            <li class="sender">
                              <p> I need to schedule an appointment</p>
                              <span class="time">10:26 am</span>
                            </li>
                            <li class="repaly">
                              <p>Its okay you can schedule from the portal</p>
                              <span class="time">10:35 am</span>
                            </li>
                            <li>
                              <div class="divider">
                                <h6>Today</h6>
                              </div>
                            </li>
      
                            <li class="sender">
                              <p>Okay, thank you.</p>
                              <span class="time">10:36 am</span>
                            </li>
                          </ul>
                        </div>
                      </div>
      
                      <div class="send-box">
                        <form action="">
                          <input type="text" class="form-control" aria-label="message…" placeholder="Write message…">
                          <button type="button">Send</button>
                        </form>
      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- chatbox -->
      
            </div>
          </div>
        </div>
    </section>
</div>