.primary-btn{
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 20px;
    gap: 5px;
    background-color: #B23C01;
    color: #ffffff;

    &-icon{
        display: flex;
        align-items: baseline;
        gap: 10px;
    }
}

.primary-btn:hover{
    background-color: #a33701;
}

.hashtag-btn{
    border: none;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 8px;
    font-weight: 800;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-align: center;
    background-color:#E8DDD9;
    color: #926247;
}

.hashtag-btn-lg{
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    background-color:#E8DDD9;
    color: #926247;
}
