<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center mb-5">
        <div class="text-center my-5 primary-color quiz__title">Mental Quiz</div>
        <form [formGroup]="mentalHealthForm">
            <div class="d-flex flex-column quiz__container">
                <ng-container *ngFor="let question of questions; let i=index">
                    <div class="py-3">
                        <div class="py-2 quiz__ques">
                            <div>
                                <span class="primary-color">{{i+1}}. </span>
                                <span>{{question?.text}}</span>
                            </div>
                        </div>
                        <div class="py-2">
                            <ng-container *ngFor="let option of question?.options; let ind = index">
                                <div class="py-2 px-3 my-2 quiz__option">
                                    <input [formControlName]="'question'+i" [id]="'question'+i+ind" [value]="option.value" type="radio">
                                    <label class="ms-2 pointer" [for]="'question'+i+ind">{{option?.label}}</label>
                                </div>
                            </ng-container>
                        </div>
                        <div *ngIf="mentalHealthForm.get('question' + i).hasError('required') && mentalHealthForm.get('question' + i).touched">
                           <span class="text-danger">{{ question.text }} is required.</span>
                        </div>
                    </div>
                </ng-container>
                
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button (click)="onSubmit()" class="rounded py-2 px-4 submit__button">Submit</button>
            </div>
        </form>
    </div>
</div>