<div class="cover-container row">
    <div class="cover-container-content col-6">
        <p class="quote">"Your mental health is just as
            important as your physical health.
            Let's prioritize self-care together."</p>
        <p class="location">LotusVista Healthcare, located in London</p>
        <button class="primary-btn primary-btn-icon">Request an Appointment <i class="fa-solid fa-arrow-right-long"></i></button>
    </div>

    <div class="cover-container-image col-6">
        <img src="assets/images/cover-image.png" alt="cover image">
    </div>
</div>

<div class="aboutus-container mt-4 mb-2">
    <div class="aboutus-container-header">
        <p>Who are we, you say?</p>
        <div class="header-underline"></div>
    </div>

    <div class="aboutus-container-text mt-4">
        <p>At LotusVista Healthcare, we believe to create a safe, inclusive online space that offers 
            personalized, evidence-based counseling, tools, and resources, fostering mental wellness 
            and resilience for all.</p>
    </div>

    <div class="aboutus-container-buttons mt-4">
        <button class="primary-btn primary-btn-icon">Understanding Stress <i class="fa-solid fa-arrow-right-long"></i></button>
        <button class="primary-btn primary-btn-icon">Boost Self-esteem <i class="fa-solid fa-arrow-right-long"></i></button>
        <button class="primary-btn primary-btn-icon">Track your Journey <i class="fa-solid fa-arrow-right-long"></i></button>
        <button class="primary-btn primary-btn-icon">Quiz <i class="fa-solid fa-arrow-right-long"></i></button>
        <button class="primary-btn primary-btn-icon">Book appointment <i class="fa-solid fa-arrow-right-long"></i></button>

    </div>
</div>


<div class="news-section-container mt-5 mb-2">
    <div class="news-section-container-title">
        <p>Browse Our Latest News</p>
    </div>

    <div class="new-section-container-cards">
        <div class="card" style="width: 20rem;">
            <div class="p-2">
                <img src="assets/images/news-image-1.png" class="card-img-top" alt="...">
            </div>
            <div class="hash-tag-section">
                <button class="hashtag-btn">JUN 25, 2023</button>
                <button class="hashtag-btn">Health</button>
                <button class="hashtag-btn">Mental</button>
            </div>
            <div class="card-body">
              <p class="card-text">The Power of Self-Care: Nurturing Your Mental Health In The Age of AI Revolution</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <div class="p-2">
                <img src="assets/images/news-image-2.png" class="card-img-top" alt="...">
            </div>
            <div class="hash-tag-section">
                <button class="hashtag-btn">JUN 25, 2023</button>
                <button class="hashtag-btn">Health</button>
                <button class="hashtag-btn">Mental</button>
            </div>
            <div class="card-body">
              <p class="card-text">The Power of Self-Care: Nurturing Your Mental Health In The Age of AI Revolution</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <div class="p-2">
                <img src="assets/images/news-image-3.png" class="card-img-top" alt="...">
            </div>
            <div class="hash-tag-section">
                <button class="hashtag-btn">JUN 25, 2023</button>
                <button class="hashtag-btn">Health</button>
                <button class="hashtag-btn">Mental</button>
            </div>
            <div class="card-body">
              <p class="card-text">The Power of Self-Care: Nurturing Your Mental Health In The Age of AI Revolution</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <div class="p-2">
                <img src="assets/images/news-image-4.png" class="card-img-top" alt="...">
            </div>
            <div class="hash-tag-section">
                <button class="hashtag-btn">JUN 25, 2023</button>
                <button class="hashtag-btn">Health</button>
                <button class="hashtag-btn">Mental</button>
            </div>
            <div class="card-body">
              <p class="card-text">The Power of Self-Care: Nurturing Your Mental Health In The Age of AI Revolution</p>
            </div>
        </div>
    </div>
</div>