.cover-container{
    padding: 50px 0px;
    align-items: end;
    &-content{
        .quote{
            font-family: 'Open Sans', sans-serif;
            font-size: 34px;
            font-weight: 500;
            line-height: 45px;
            letter-spacing: 0em;
            text-align: left;
            color: #706A66;
        }
        .location{
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            color: #706A66;
        }
    }
    
    &-image{
        img{
        height: 300px;
        width: 100%;
        object-fit: none;
        }
    }
}


.aboutus-container{
    width: 835px;
    margin: 0 auto;
    &-header{
       p{
        font-family: 'Open Sans', sans-serif;
        font-size: 34px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: 0em;
        text-align: center;
       } 
    }

    &-text{
        width: 711px;
        height: 72px;
        margin: 0 auto;
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #091432;
        }
    }

    &-buttons{
        width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .header-underline{
        width: 150px;
        height: 5px;
        border: 5px;
        background: #B23C01;
        margin: 0 auto;
    }
}

.news-section-container{

    &-title{
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 34px;
            font-weight: 700;
            line-height: 68px;
            letter-spacing: -0.03em;
            text-align: center;
            color:#4B3425;
        }
    }
    .card{
        background-color: #F7F4F2;
        border-radius: 15px;
        cursor: pointer;
        img{
            border-radius: 15px;
        }
    }

    .hash-tag-section{
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .card-body{
        .card-text{
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            color: #4B3425;
        }
    }
}

.new-section-container-cards{
    width: 835px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}