<div class="cover-container row">
    <div class="cover-container-content col-6">
        <p class="quote">"Your mental health is just as
            important as your physical health.
            Let's prioritize self-care together."</p>
        <p class="location">LotusVista Healthcare, located in London</p>
        <button class="primary-btn primary-btn-icon">Request an Appointment <i class="fa-solid fa-arrow-right-long"></i></button>
    </div>

    <div class="cover-container-image col-6">
        <img src="assets/images/cover-image.png" alt="cover image">
    </div>
</div>

<div class="aboutus-container mt-4">
    <div class="aboutus-container-header">
        <p>Who are we, you say?</p>
        <div class="header-underline"></div>
    </div>

    <div class="aboutus-container-text mt-4">
        <p>At LotusVista Healthcare, we believe to create a safe, inclusive online space that offers 
            personalized, evidence-based counseling, tools, and resources, fostering mental wellness 
            and resilience for all.</p>
    </div>

    <div class="aboutus-container-buttons mt-4">
        <button class="primary-btn primary-btn-icon">Understanding Stress <i class="fa-solid fa-arrow-right-long"></i></button>
        <button class="primary-btn primary-btn-icon">Boost Self-esteem <i class="fa-solid fa-arrow-right-long"></i></button>
        <button class="primary-btn primary-btn-icon">Track your Journey <i class="fa-solid fa-arrow-right-long"></i></button>
        <button class="primary-btn primary-btn-icon">Quiz <i class="fa-solid fa-arrow-right-long"></i></button>
        <button class="primary-btn primary-btn-icon">Book appointment <i class="fa-solid fa-arrow-right-long"></i></button>

    </div>
</div>