<div class="cover-container row">
    <div class="cover-container-content col-6">
        <p class="quote">"Your mental health is just as
            important as your physical health.
            Let's prioritize self-care together."</p>
        <p class="location">LotusVista Healthcare, located in London</p>
        <button class="primary-btn primary-btn-icon">Request an Appointment <i class="fa-solid fa-arrow-right-long"></i></button>
    </div>

    <div class="cover-container-image col-6">
        <img src="assets/images/cover-image.png" alt="cover image">
    </div>
</div>