.jumbotron {
  background: #358cce;
  color: #fff;
  border-radius: 0px;
}
.jumbotron-sm {
  padding-top: 24px;
  padding-bottom: 24px;
}
.jumbotron small {
  color: #fff;
}
.h1 small {
  font-size: 24px;
}
