.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-nav-items{
        ul{
            display: flex;
            list-style: none;
            gap: 1.5rem;
            align-items: center;
            margin-bottom: 0;
        }
        a{
            text-decoration: none;
            color: #000000;
        }

        a:hover{
            color: #B23C01 !important;
            // font-weight: bold;
        }

        .active-nav{
            color: #B23C01;
            font-weight: bold;
        }
    }
}
