@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.heading {
    font-family: 'Agbalumo';
    color: #DF4B01;
}


#menu-toggle {
    color: black;
    background: #f8f9fa;
    padding: 10px;
    font-size:28px;
}



#wrapper {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px;
}


#sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #45474B;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#wrapper.toggled #sidebar-wrapper {
    width: 0px;
}


#page-content-wrapper {
    width: auto;
}


#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
    width: 100%;
}




/* Sidebar Styles */


.sidebar-nav {
    position: absolute;
    width:100%;
    margin-top: 40px;
    padding-left: 0;
    list-style: none;
}


.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}


.sidebar-nav li a:hover {
    text-decoration: none;
    font-weight: bold;
    background-color: #000000;
    border-bottom: 0.3px solid white;
}


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}


.active-nav{
    font-weight: bold !important;
    background-color: #000000;
    border-bottom: 0.3px solid white;
}