<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../../../assets/images/cover-image.png"
            class="img-fluid cover-image" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="loginForm" (submit)="login()">
            <div style="cursor: pointer;"  [routerLink]="['/featured']" class="d-flex flex-column align-items-center justify-content-center my-4 btn-primary-color title">
              <p class="text-center fw-bold mx-3 mb-0"> LotusVista Healthcare</p>
            </div>
  
            <!-- Email input -->
            <div class="form-floating my-4">
                <input type="email" class="form-control" placeholder="name@example.com" formControlName="email">
                <label for="floatingInput">Email address</label>
            </div>
  
            <!-- Password input -->
            <div class="form-floating my-4">
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
                <label for="floatingPassword">Password</label>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label pointer" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a class="btn-primary-color login__link">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="login__btn btn btn-secondary-color btn-lg border"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">
                    <span>Don't have an account?</span>
                    <a class="btn-primary-color login__link ms-1" routerLink="/auth/signup">Register</a>
                </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>