@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

.divider:after, .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}
.cover-image {
    opacity: 50%;
    transform: rotate(-12deg);
}
.btn-primary-color {
    color: #DF4B01;
}
.btn-secondary-color {
    color: #FEAF8F;
}
.login__btn {
    color: #FEAF8F;
    &:hover {
        color: #fff;
        background-color: #DF4B01;
    }
}
.login__link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.title {
    font-family: 'Kalam', cursive;
    font-size: 42px;
}
.pointer {
    cursor: pointer;
}