.post-preview {
    > a {
      color: #212529;
  
      &:focus,
      &:hover {
        text-decoration: none;
        color: #0085A1;
      }
  
      > .post-title {
        font-size: 1.875rem;
        margin-top: 1.875rem;
        margin-bottom: 0.625rem;
      }
  
      > .post-subtitle {
        font-weight: 300;
        margin-bottom: 0.625rem;
      }
    }
  
    > .post-meta {
      font-size: 1.125rem;
      font-style: italic;
      margin-top: 0;
      color: #6c757d;
  
      > a {
        text-decoration: none;
      }
    }
  }
  